{% extends 'base.html' %}
{% block title %}Answers{% endblock %}

{% block content %}
    {{ error }}
    <h1>Вопрос: {{ poll }}</h1>
    <p>Ответы: </p>
        <form action="{% url 'answers_view' poll.pk %}" method="post">
            {% csrf_token %}
            {% for choice in poll.polls_choice.all %}
                <label style="padding-right: 100%;width: 1050px;">
                    <p><input type="radio" name="choice" value={{ choice.pk }}>{{ choice }}</p>
                </label>
            {% endfor %}

            <p><input type="submit" value="Submit"></p>
        </form>
    <hr/>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}