{% extends "base.html" %}
{% block title %}Poll{% endblock %}
{% block menu %}
    <li><a href="{% url 'poll_update' poll.pk %}">Обновить</a></li>
    <li><a href="{% url 'poll_delete' poll.pk %}">Удалить</a></li>
    <li><a href="{% url 'poll_create' %}">Добавить</a></li>

{% endblock %}
{% block content %}
    <h1>{{ poll.question}}</h1>
        <p><b>Создан: </b>{{ poll.created_at }}</p>
    <hr>
    <h3>Ответ: </h3>
    <div class="choice-list">
        {% for choice in poll.polls_choice.all %}
            <hr>
            <div class="choice">
                <p><b>Текст: </b>{{ choice.text }}</p>
                <div class="pre"><b>Вопрос: </b>{{ choice.poll }}</div>
                <a href="{% url 'choice_update' choice.pk %}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'choice_delete' choice.pk %}"><i class="fas fa-trash"></i></a>
                <a href="{% url 'choice_create' poll.pk %}"><i class="fas fa-plus-square"></i></a>
                <li><a href="{% url 'answers_view' poll.pk %}">Ответы</a></li>
            </div>
        {% empty %}
            <p>No polls yet.</p>
        {% endfor %}
    </div>

{% endblock %}
